@charset "UTF-8";

/*Todas as otras midias*/

/*Typical device breakpoints
extra small : max 600px
small :       min 600px max 768px
medium :      min 768px max 992px
large :       min 992px max 1200px
extra large : min 1200px
*/

/*impressao*/
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    /*inutil de por background image nao imprime*/
        
    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: 'essa impressao foi feita pelo o meu site';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}


/*medium*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}


/*large*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}


/*extra large*/
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}